<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edytuj dane pacjenta | DentMed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/footer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#dateBirth" ).datepicker();
  } );
  </script>

</head>
<body ng-app="app" style="background-image: url('images/gabinet2.jpg');background-size:120%;">



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/startDoctorPage.html">DentMed</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/startDoctorPage.html">Strona główna</a></li>
     
      <li class="active"><a href="/addPatient.html">Dodaj pacjenta</a></li>
      <li><a href="/addVisit.html">Dodaj wizytę</a></li>
      <li><a href="/searchPatient.html">Wyszukaj pacjenta</a></li>
      <li><a href="/searchVisit.html">Wyszukaj wizytę</a></li>
    </ul>
  </div>
</nav>


<div id="form">

<h1 align="center">Edytuj dane pacjenta</h1>
			<div ng-controller="editPatientController">
			<form name="edit" ng-submit="submitEditPatientForm()" >
	
   				 <label>Imię:<br><input id="name" ng-model="editPatient.name" type="text" required ng-value="originaleditPatient.name"/></label><br>
    			 <label>Nazwisko:<br /> <input id="surname" ng-model="editPatient.surname" type="text" required ng-value="originaleditPatient.surname"/></label><br>
    			 <label>Pesel:<br /> <input id="pesel" ng-model="editPatient.pesel" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="11" required ng-value="originaleditPatient.pesel"/></label><br>
    			 <label>Data urodzenia(rrrr/mm/dd):<br /><input type="text" id="dateBirth" ng-model="editPatient.dateBirth" required ng-value="originaleditPatient.dateBirth"/></label><br>
    			 <label>Adres:<br /><input id="address" ng-model="editPatient.address" type="text" required ng-value="originaleditPatient.address"/></label><br>
    			 <label>Miasto:<br /><input id="city" ng-model="editPatient.city" type="text" required ng-value="originaleditPatient.city"/></label><br>
    			 <label>Kod pocztowy:<br /><input id="postCode" ng-model="editPatient.postCode" onkeypress="return addPostCode(this,event)" required ng-value="originaleditPatient.postCode"/></label><br>
    			 <label>Województwo:<br /><input id="region" ng-model="editPatient.region" required ng-value="originaleditPatient.region"/></label><br>
  				 <label>Kraj:<br /><input id="country" ng-model="editPatient.country" type="text" required ng-value="originaleditPatient.country"/></label><br>
   			 	 <label>Telefon:<br /><input id="phone" ng-model="editPatient.phone" onkeypress="return addPhone(this,event)" required ng-value="originaleditPatient.phone"/></label><br>
    			 <label>Email:<br /><input id="mail" ng-model="editPatient.mail" type="email" required ng-value="originaleditPatient.mail"/></label><br>
    

	
	<button type="submit">Zapisz dane</button>
	<a href="/startDoctorPage.html"><button type="submit">Anuluj</button></a>
		
			</form>
	
   			
		
	

</div>	
	
</div>



<br><br><br><br>
	<div id="footer">
		<div id="container">
			<p style="padding-left:400px; padding-top:20px">© DentMed Team</p>
		</div>
	</div>




<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script>
<script src="/js/editPatientController.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">


</body>
</html>
