<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edytuj dane pacjenta | DentMed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/footer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
    .error {
      color: red;
    }
  </style>

</head>
<body ng-app="app" style="background-image: url('images/gabinet2.jpg');background-size:135%;">



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/startDoctorPage.html">DentMed</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/startDoctorPage.html">Strona główna</a></li>
     
      <li><a href="/addPatient.html">Dodaj pacjenta</a></li>
      <li><a href="/addVisit.html">Dodaj wizytę</a></li>
      <li><a href="/searchPatient.html">Wyszukaj pacjenta</a></li>
      <li><a href="/searchVisit.html">Wyszukaj wizytę</a></li>
    </ul>
  </div>
</nav>


<div id="form">

<h1 align="center">Edytuj dane pacjenta</h1>
			<div ng-controller="editPatientController">
			<form name="edit" ng-submit="submitEditPatientForm()" >
	
   				 <label>Imię:<br><input id="name" ng-model="originaleditPatient.name" type="text" required ng-value="originaleditPatient.name"/></label><br>
    			 <label>Nazwisko:<br /> <input id="surname" ng-model="originaleditPatient.surname" type="text" required ng-value="originaleditPatient.surname"/></label><br>
    			 <label>Pesel:<br /> <input id="pesel" ng-model="originaleditPatient.pesel" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" maxlength="11" required ng-value="originaleditPatient.pesel"/></label><br>
    			 <div>
    			 <label>Data urodzenia(dd/mm/rrrr):<br /><input type="text" id="dateBirth" name="birth" ng-model="originaleditPatient.dateBirth" ng-pattern="Birth" required ng-value="originaleditPatient.dateBirth"/></label>
    			 <span class="error" ng-show="edit.birth.$error.pattern">Uzupełnij datę według wzoru [dd/mm/rrrr]</span><br>
    			 </div>
    			 <label>Adres:<br /><input id="address" ng-model="originaleditPatient.address" type="text" required ng-value="originaleditPatient.address"/></label><br>
    			 <label>Miasto:<br /><input id="city" ng-model="originaleditPatient.city" type="text" required ng-value="originaleditPatient.city"/></label><br>
    			 <div> 
    			 <label>Kod pocztowy:<br /><input id="postCode" name="postCode" ng-model="originaleditPatient.postCode" ng-pattern="postCode" required ng-value="originaleditPatient.postCode"/></label>
    			 <span class="error" ng-show="edit.postCode.$error.pattern">Uzupełnij kod pocztowy wzoru [xx-xxx]</span><br>
    			 </div>
    			 <label>Województwo:<br /><input id="region" ng-model="originaleditPatient.province" required ng-value="originaleditPatient.province"/></label><br>
  				 <label>Kraj:<br /><input id="country" ng-model="originaleditPatient.country" type="text" required ng-value="originaleditPatient.country"/></label><br>
   			 	 <div>
   			 	 <label>Telefon (xxx-xxx-xxx) (1):<br /><input id="phone" name="phone" ng-pattern="phoneNumber" ng-model="originaleditPatient.phoneNumber1"  required ng-value="originaleditPatient.phoneNumber1"/></label>
   			 	 <span class="error" ng-show="edit.phone.$error.pattern">Uzupełnij numer według wzoru [xxx-xxx-xxx]</span>
   			 	 </div>
   			 	 <div>
   			 	 <label>Telefon (xxx-xxx-xxx) (2):<br /><input id="phone" name="phone2" ng-pattern="phoneNumber" ng-model="originaleditPatient.phoneNumber2"  required ng-value="originaleditPatient.phoneNumber2"/></label>
   			 	 <span class="error" ng-show="edit.phone2.$error.pattern">Uzupełnij numer według wzoru [xxx-xxx-xxx]</span>
   			 	 </div>
    			 <label>Email:<br /><input id="mail" ng-model="originaleditPatient.mail" type="email" required ng-value="originaleditPatient.mail"/></label><br>
    
				


	<button type="submit">Zapisz dane</button>
	<a href="/startDoctorPage.html"><button type="submit">Anuluj</button></a>
		
			</form>
	
   			
	
	

</div>	
	
</div>



<br><br><br><br>
	<div id="footer">
		<div id="container">
			<p style="padding-left:400px; padding-top:20px">© DentMed Team</p>
		</div>
	</div>




<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script>
<script src="/js/editPatientController.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">


</body>
</html>
