#formularz{
	
color:red	
}

#formularz{
	

}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #FFFFF0;
	font-family: 'Exo', sans-serif;
	font-size: 45px;
	font-weight: 200;
}

.header div span{
	font-weight: bold;
	color: black !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: rgba(0,0,0,0.6);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 4px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: rgba(0,0,0,0.6);
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 4px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login button[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 4px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
